# Database connection
POSTGRES_HOST=localhost
POSTGRES_PORT=5470
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=eav_demo

# REST API / UI
API_PORT=3070

# Seeding
SEED_PRODUCTS=30000
SEED_DEFAULT_CATEGORY=laptops
